* {
  box-sizing: border-box;
}
 body {
  position: relative;
  background: #FFFFFF;
  padding: 0;
  margin: 0;
  height: 4088px;
  width: 1440px;
}
h2{
font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 38px;
text-align: center;
letter-spacing: 0,1em;
text-transform: uppercase;
color: #142B35;
flex: none;
order: 1;
flex-grow: 0;
}
h3{
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.01em;
  text-align: center;
  
}
p{
font-family: 'Work Sans';
font-style: normal;
font-size: 16px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: center;
color: #5B6E76;
}
A:visited {
  color:  #142B35;
  /* Цвет посещенных ссылок */
 }
.menu{
  /* menu */
position: sticky;
display: flex;
width: 100%;
height: 99px;
left: 0px;
top: 0px;
}
.header-logo{
margin: auto;
height: 51px;
width: 192px;
left: 61px;
top: 75px;
border-radius: 0px;
background-image: url('../assets/g10.jpg');
}
nav{
/* nav */
/* Auto layout */
display: flex;
margin: auto;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 32px;
left: 26.39%;
right: 33.96%;
top: 39.39%;
bottom: 41.41%;
}
.line-2{
  margin: auto;
  height: 0px;
  width: 34px;
  left: 1053px;
  top: 32px;
  transform: rotate(90deg); 
border: 1px solid #E0E0E0;
}
.nav-btn{
font-family: Work Sans;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
text-decoration: none;
color: #142B35;
}
.main-image{
position: absolute;
width: 100%;
height: 688px;
left: 0px;
top: 99px;
background:  linear-gradient(rgba(55, 46, 46, 0.4), rgba(55, 46, 46, 0.4)),
url('../assets/shutterstock_795013699\ 1.jpg');
}
.container{
  position: absolute;
  display: flex;
  width: 704px;
  height: 94px;
  left: 60px;
  top: 349px;
}
.container-cards{
position: absolute;
display: flex;
flex-wrap: wrap;
justify-content: center;
padding: auto;
width: 100%;
height: 772px;
top: 1058px;
background: #FFFFFF;
}
.card{
  width: 429px;
  height: 378px;
  box-shadow: 1px 1px 12px rgba(71, 71, 71, 0.06);
}
.card:hover{
  color: #3A98B2;
}
.card-image{
  margin-top: 56px;
  margin-left: 171px;
  width: 88px;
  height: 88px;
}
.card-text{
  margin: 16px auto auto auto;
}
#line-14{
  float: left;
  margin: auto;
  height: 88px;
  width: 0px;
  border: 2px solid #F2B91D;
}
.container-form{
position: absolute;
width: 1440px;
height: 676px;
left: 2px;
top: 1930px;
}
.form-tite{
position: absolute;
width: 149px;
height: 28px;
left: 1031px;
top: 2066px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
color: #142B35;
}
.wrap-form{
  position: absolute;
  width: 548px;
  height: 516px;
  left: 832px;
  color: #5B6E76;
  top: 0;
  z-index: 2;
  background: #FFFFFF;
  box-shadow: 1px 1px 12px rgba(71, 71, 71, 0.06);
  border-radius: 5px;
}
.btn-submit{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 14px 24px;
  gap: 10px;
  position: absolute;
  width: 105px;
  height: 47px;
  left:224px;
  top: 413px;
  background: #F2B91D;
  border-radius: 5px;
  width: 57px;
height: 19px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
}
.line-14-text{
font-weight: 600;
margin-left: 32px;
font-size: 40px;
line-height: 47px;
text-transform: capitalize;
color: #FFFFFF;
}
#phone-logo{
margin: auto;
height: 18px;
width: 18px;
left: 1077px;
top: 40px;
border-radius: 0px;
background-image: url('../assets/clarity_phone-handset-line.jpg');
}
#phone{
margin: auto;
font-family: Work Sans;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color: #142B35;
}
.btn-quote{
  margin:  auto;
  height: 51px;
  width: 135px;
  left: 1245px;
  top: 24px;
  padding: 16px 20px 16px 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: #3A98B2;
  border: 0;
  border-radius: 5px;
  flex: none;
  flex-grow: 0;
}
.btn-quote:hover{
  background: #328BA4;
}
.slogan{
  position: absolute;
  width: 442px;
  height: 54px; 
  top: 964px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
#btn-quote{
  margin: auto;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}
#main-image-text{
text-align: left;
position: absolute;
width: 526px;
height: 108px;
left: 92px;
top: 441px;
margin-top: 16px;
color: #FFFFFF;
}
.grey-text{
position: absolute;
font-family: Work Sans;
font-size: 12px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0.1em;
text-align: center;
white-space: nowrap;
width: 90px;
height: 20px;
left: 675px;
top: 866px;
text-transform: uppercase;
color: #738697;
}
#text-title{
position: absolute;
width: 540px;
height: 54px;
left: 450px;
top: 894px;
font-family: Work Sans;
font-size: 32px;
font-weight: 500;
line-height: 54px;
letter-spacing: -0.01em;
text-align: center;
text-transform: uppercase;
color: #142B35;
}
.blog{
position: absolute;
width: 1440px;
height: 767px;
left: 0px;
top: 3205px;
margin-bottom: 0%;
padding-bottom: 0%;
}
.blog-title{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 904px;

position: absolute;
width: 1320px;
height: 66px;
left: 60px;
top: 80px;
}
.title{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;
width: 306px;
height: 66px;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}
.btn{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 14px 24px;
gap: 10px;
width: 110px;
height: 47px;
border: 1px solid #3A98B2;
border-radius: 5px;
flex: none;
order: 1;
flex-grow: 0;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */
color: #3A98B2;
/* Inside auto layout */
}
.btn:hover{
  background: #3A98B2;
  color: #FFFFFF;
}
#map{
  position: absolute;
  width: 100%;
  height: 551px;
  left: 0px;
  top: 2606px;
}
.blog-image{
  position: absolute;
  height: 295px;
  width: 429px;
  top: 186px;
background-image: url('../assets/kelly-sikkema-WIYtZU3PxsI-unsplash.jpg');
border-radius: 5px;
}
.blog-text{
  
width: 37px;
height: 20px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 167.3%;

text-align: center;
letter-spacing: 0.1em;

color: #738697;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
#image-left{
left: 60px;
}
#image-center{
  left: 505px;
}
#image-right{
left: 950px;
}
footer{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 40px 60px;
gap: 10px;
top: 3972px;
position: absolute;
width: 100%;
height: 116px;

background: #FCFDFE;
}
.group-105{
  width: 1320px;
  height: 36px;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
}
.line-17{
  /* Line 17 */
position: absolute;
height: 0px;
width: 1318px;
left: 60px;
top: 40px;
border-radius: nullpx;
border: 1px solid #E0E0E0;
}
.footer-text{
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 20px;
color: #142B35;
opacity: 0.5;
top: 56px;
}
#footer-text-right{
/* Made by Comrade */
position: absolute;
height: 20px;
width: 106px;
left: 1274px;
border-radius: nullpx;

}
#footer-text-left{
  position: absolute;
  height: 20px;
  width: 300px;
  left: 60px;
  border-radius: nullpx;
  
  }
#footer-text-center-left{
position: absolute;
height: 20px;
width: 222px;
left: 505px;
border-radius: nullpx;

}
#footer-text-center-right{
position: absolute;
height: 20px;
width: 208px;
left: 771px;
border-radius: nullpx;

}